<footer>
    <div class="info-box">
        <img id="logo-image" src="assets/images/eduotics-logo.png">
        <h2 id="eduotics-pvt-ltd">Eduotics Pvt. Ltd.</h2>
        <address></address>
    </div>
    <div class="links-box">
        <div class="links-col">
            <h2>Company</h2>
            <a href="#">About Us</a>
            <a href="#">Courses</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="links-col">
            <h2>Courses</h2>
            <a href="#">IIT-JEE</a>
            <a href="#">NEET</a>
            <a href="#">Foundation</a>
            <a href="#">Government Exams</a>
            <a href="#">Engineering Exams</a>
            <a href="#">Coding</a>
            <a href="#">Skill Development</a>
        </div>
        <div class="links-col contact-col">
           
        </div>
    </div>

</footer>