<section>
    <p>
        Following topics will be discussed in view of CBSE syllabus ,NTSE, Junior Science and Maths Olympiads.
    </p>
    <h1>Mathematics</h1>
    <table>
        <tr>
            <th>SNo.</th>
            <th>Chapter Name</th>
            <th>No. of Lectures</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Number System</td>
            <td>11</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Coordinate geometry</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Linear equation in two variable </td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Polynomial</td>
            <td>11</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Introduction to euclid geometry </td>
            <td>3</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Lines and angles </td>
            <td>8</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Conguruent triangle </td>
            <td>9</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Quadrilaterals </td>
            <td>8</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Circles </td>
            <td>9</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Heron's formula </td>
            <td>4</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Area of parallelograms and triangles </td>
            <td>6</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Surface area and volume </td>
            <td>9</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Statistics</td>
            <td>9</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Probabilty </td>
            <td>2</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Constructions </td>
            <td>5</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Revision</td>
            <td>2</td>
        </tr>
    </table>

    <h2>Number System</h2>

    <ol>
        <li>Review of representation of natural numbers, integers, rational numbers on the number line. Rational numbers
            as recurring/ terminating decimals. Operations on real numbers. √2 , √3</li>
        <li>Examples of non-recurring/non-terminating decimals. Existence of non-rational numbers (irrational numbers)
            such as their representation on the number line. </li>
        <li>Rationalization (with precise meaning) of real numbers of the type (and their combinations) where x and y
            are natural numbers and a and b are integers.</li>
        <li>Recall of laws of exponents with integral powers. Rational exponents with positive real bases (to be done by
            particular cases, allowing learners to arrive at the general laws.)</li>
    </ol>

    <h2>Coordinate Geometry</h2>
    <ol>
        <li>The Cartesian plane</li>
        <li>Coordinates of a point</li>
        <li>Names and terms associated with the coordinate plane</li>
        <li>Notations</li>
        <li>Plotting points in the plane.</li>
    </ol>

    <h2>Linear equation in two variables</h2>
    <p>Recall of linear equations in one variable. Introduction to the equation in two variables. Focus on linear
        equations of the type ax + by + c = 0. Prove that a linear equation in two variables has infinitely many
        solutions and justify their being written as ordered pairs of real numbers, plotting them and showing that they
        lie on a line. Graph of linear equations in two variables. Examples, problems from real life, including problems
        on Ratio and Proportion and with algebraic and graphical solutions being done simultaneously.</p>

    <h2>Polynomial</h2>

    <p>Definition of a polynomial in one variable, with examples and counter examples. Coefficients of a polynomial, terms of a polynomial and zero polynomial. Degree of a polynomial. Constant, linear, quadratic and cubic polynomials. Monomials, binomials, trinomials. Factors and multiples. Zeros of a polynomial. Factorization of ax<sup>2</sup>&nbsp;+ bx + c, a ≠ 0 where a, b and c are real numbers, and of cubic polynomials using the Factor Theorem.</p>

    <p>(<em>x&nbsp;</em>+&nbsp;<em>y&nbsp;</em>+&nbsp;<em>z</em>)<sup>2</sup>&nbsp;=&nbsp;<em>x</em><sup>2</sup>&nbsp;+&nbsp;<em>y</em><sup>2</sup>&nbsp;+&nbsp;<em>z</em><sup>2</sup>&nbsp;+
        2<em>xy</em>&nbsp;+ 2<em>yz</em>&nbsp;+ 2<em>zx</em></p>
    <p>(<em>x&nbsp;</em>±&nbsp;<em>y</em>)<sup>3</sup>&nbsp;=&nbsp;<em>x</em><sup>3</sup>&nbsp;±&nbsp;<em>y</em><sup>3</sup>&nbsp;±
        3<em>xy&nbsp;</em>(<em>x&nbsp;</em>±&nbsp;<em>y</em>)</p>
    <p><em>x</em><sup>3&nbsp;</sup>+&nbsp;<em>y</em><sup>3&nbsp;</sup>+<em>&nbsp;z</em><sup>3&nbsp;</sup>–
        3<em>xyz</em>&nbsp;= (<em>x&nbsp;</em>+&nbsp;<em>y</em>&nbsp;+&nbsp;<em>z</em>)
        (<em>x</em><sup>2</sup>&nbsp;+&nbsp;<em>y</em><sup>2</sup>&nbsp;+&nbsp;<em>z</em><sup>2</sup>&nbsp;–&nbsp;<em>xy</em>&nbsp;–&nbsp;<em>yz</em>&nbsp;–&nbsp;<em>zx</em>)
    </p>
    <p>and their use in the factorization of polynomials.</p>

    <h2>Lines and Angles</h2>

    <ol>
        <li>(Motivate) If a ray stands on a line, then the sum of the two adjacent angles so formed is
            180<sup>o</sup>&nbsp;and the converse.</li>
        <li>(Prove) If two lines intersect, vertically opposite angles are equal.</li>
        <li>(Motivate) Results on corresponding angles, alternate angles, interior angles when a transversal
            intersects two parallel lines.</li>
        <li>(Motivate) Lines that are parallel to a given line are parallel.</li>
        <li>(Prove) The sum of the angles of a triangle is 180<sup>o</sup>.</li>
        <li>(Motivate) If a side of a triangle is produced, the exterior angle so formed is equal to the sum of the
            two interior opposite angles.</li>
    </ol>

    <h2>Conguruent triangle</h2>

    <ol>
        <li>(Motivate) Two triangles are congruent if any two sides and the included angle of one triangle are equal
            to any two sides and the included angle of the other triangle (SAS Congruence).</li>
        <li>(Motivate) Two triangles are congruent if the three sides of one triangle are equal to three sides of the
            other triangle (SSS Congruence).</li>
        <li>(Motivate) Two right triangles are congruent if the hypotenuse and a side of one triangle are equal
            (respectively) to the hypotenuse and a side of the other triangle (RHS Congruence).</li>
        <li>(Prove) The angles opposite to equal sides of a triangle are equal.</li>
        <li>(Motivate) The sides opposite to equal angles of a triangle are equal.</li>
    </ol>

    <h2>Quadrilaterals</h2>

    <ol>
        <li>(Prove) The diagonal divides a parallelogram into two congruent triangles.</li>
        <li>(Motivate) In a parallelogram opposite sides are equal, and conversely.</li>
        <li>(Motivate) In a parallelogram opposite angles are equal, and conversely.</li>
        <li>(Motivate) A quadrilateral is a parallelogram if a pair of its opposite sides is parallel and equal.</li>
        <li>(Motivate) In a parallelogram, the diagonals bisect each other and conversely.</li>
        <li>(Motivate) In a triangle, the line segment joining the mid points of any two sides is parallel to the
            third side and in half of it and (motivate) its converse.</li>
    </ol>

    <h2>Circles</h2>
    <p>Through examples, arrive at definition of circle and related concepts-radius, circumference, diameter, chord,
        arc, secant, sector, segment, subtended angle.</p>

    <ol>
        <li>(Prove) Equal chords of a circle subtend equal angles at the center and (motivate) its converse.</li>
        <li>(Motivate) The perpendicular from the center of a circle to a chord bisects the chord and conversely, the
            line drawn through the center of a circle to bisect a chord is perpendicular to the chord.</li>
        <li>(Motivate) Equal chords of a circle (or of congruent circles) are equidistant from the center (or their
            respective centers) and conversely.</li>
        <li>(Prove) The angle subtended by an arc at the center is double the angle subtended by it at any point on
            the remaining part of the circle.</li>
        <li>(Motivate) Angles in the same segment of a circle are equal.</li>
        <li>(Motivate) The sum of either of the pair of the opposite angles of a cyclic quadrilateral is
            180<sup>o</sup>&nbsp;and its converse.</li>
    </ol>

    <h2>Surface Areas and Volumes</h2>
    <p>Surface areas and volumes of cubes, cuboids, spheres (including hemispheres) and right circular cylinders/cones.
    </p>

    <h2>Statistics</h2>
    <p>Introduction to Statistics: Collection of data, presentation of data – tabular form, ungrouped / grouped, bar
        graphs.</p>


    <h2>Probabilty</h2>

    <p>History, repeated experiments and observed frequency approach to probability.
        Focus is on empirical probability. (A large amount of time to be devoted to group and to individual activities
        to motivate the concept; the experiments to be drawn from real life situations, and from examples used in the
        chapter on statistics).</p>

    <h2>Constructions</h2>
    <ol>
        <li>Construction of bisectors of line segments and angles of measure 60o, 90o, 45o etc., equilateral triangles.
        </li>
        <li>Construction of a triangle given its base, sum/difference of the other two sides and one base angle.</li>
    </ol>


    <h1>Physics</h1>
    <table>
        <tr>
            <th>SNo.</th>
            <th>Chapter Name</th>
            <th>No. of Lectures</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Basic Mathematics</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Motion</td>
            <td>12</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Circular Motion</td>
            <td>2</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Force and Laws of Motion</td>
            <td>8</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Gravitation</td>
            <td>10</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Fluids</td>
            <td>6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Work, Energy and Power</td>
            <td>9</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Wave Motion and Sound</td>
            <td>13</td>
        </tr>

    </table>


    <h2>Motion</h2>

    <p>Distance and displacement, velocity; uniform and non-uniform motion along a straight line; acceleration,
        distance-time and velocity-time graphs for uniform motion and uniformly accelerated motion, derivation of
        equations of motion by graphical method; elementary idea of uniform circular motion.</p>

    <h2>Force Law and Motion</h2>

    <p>Force and Motion, Newton’s Laws of Motion, Action and Reaction forces, Inertia of a body, Inertia and mass,
        Momentum, Force and Acceleration. Elementary idea of conservation of Momentum.</p>

    <h2>Gravitation</h2>
    <p>Gravitation; Universal Law of Gravitation, Force of Gravitation of the earth (gravity), Acceleration due to
        Gravity; Mass and Weight; Free fall.</p>

    <h2>Work, Power and Energy</h2>
    <p>Work done by a Force, Energy, power; Kinetic and Potential energy; Law of conservation of energy.</p>

    <h1>Biology</h1>
    <table>
        <tr>
            <th>SNo.</th>
            <th>Chapter Name</th>
            <th>No. of Lectures</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Cell</td>
            <td>13</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Tissue</td>
            <td>11</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Improvement of food Resources</td>
            <td>11</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Biodiversity</td>
            <td>18</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Why do we fall ill</td>
            <td>5</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Natural Resources</td>
            <td>3</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Revision</td>
            <td>9</td>
        </tr>
    </table>

    <h2>Cell</h2>
    <p> Cell as a basic unit of life; prokaryotic and eukaryotic cells, multicellular organisms; cell membrane and cell
        wall, cell organelles and cell inclusions; chloroplast, mitochondria, vacuoles, endoplasmic reticulum, Golgi
        apparatus; nucleus, chromosomes – basic structure, number.</p>

    <h2>Tissue</h2>
    <p>Structure and functions of animal and plant tissues (only four types of tissues in animals; Meristematic and
        Permanent tissues in plants).</p>

    <h2>Improvement of Food Resources</h2>
    <p>Plant and animal breeding and selection for quality improvement and management; Use of fertilizers and manures;
        Protection from pests and diseases; Organic farming.</p>

    <h2>Biodiversity</h2>
    <p>Diversity of plants and animals-basic issues in scientific naming, basis of classification. Hierarchy of
        categories/groups, Major groups of plants (salient features) (Bacteria, Thallophyta, Bryophyta, Pteridophyta,
        Gymnosperms and Angiosperms). Major groups of animals (salient features) (Non-chordates upto phyla and chordates
        upto classes)</p>


    <h2>Why do we fall ill?</h2>
    <p> Health and its failure. Infectious and Non-infectious diseases, their causes and manifestation. Diseases caused
        by microbes (Virus, Bacteria and Protozoans) and their prevention; Principles of treatment and prevention. Pulse
        Polio programmes</p>


    <h1>Chemistry</h1>
    <table>
        <tr>
            <th>SNo.</th>
            <th>Chapter Name</th>
            <th>No. of Lectures</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Matter in our Surroundings</td>
            <td>11</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Is Matter around us pure</td>
            <td>15</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Structure of Atom</td>
            <td>13</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Atoms and Molecules</td>
            <td>8</td>
        </tr>
    </table>

    <h2>Matter in our Surroundings</h2>
    <p>Definition of matter; solid, liquid and gas; characteristics – shape, volume, density; change of state melting
        (absorption of heat), freezing, evaporation (cooling by evaporation), condensation, sublimation.</p>

    <h2>Structure of Atoms</h2>
    <p>Electrons, protons and neutrons, valency, chemical formula of common compounds. Isotopes and Isobars.</p>







    <h1>MAT</h1>
    <table>
        <tr>
            <th>SNo.</th>
            <th>Chapter Name</th>
            <th>No. of Lectures</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Logical Alphabet Number</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Coding Decoding</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Number Series</td>
            <td>2</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Series Of Letters</td>
            <td>2</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Missing Term in figure</td>
            <td>2</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Mathematical operatiuons</td>
            <td>1</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Direction Sense</td>
            <td>1</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Seating Arrangement</td>
            <td>2</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Blood Relation</td>
            <td>1</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Relation Puzzles</td>
            <td>2</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Venn Diagram</td>
            <td>1</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Syllogism</td>
            <td>2</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Date and Time sequence</td>
            <td>2</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Dice test</td>
            <td>2</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Cube Test</td>
            <td>2</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Mirror and water image, Paper cutting and folding</td>
            <td>1</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Figure Partition and Counting</td>
            <td>1</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Non verbal Series</td>
            <td>1</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Nonverbal Analogy</td>
            <td>1</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Nonverbal Classification</td>
            <td>1</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Revision</td>
            <td>2</td>
        </tr>

    </table>
    <h1>Social Science</h1>
    <table>
        <tr>
            <th>SNo.</th>
            <th>Chapter Name</th>
            <th>No. of Lectures</th>
        </tr>
        <tr>
            <td>1</td>
            <td>India Size and Location</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2</td>
            <td>The story of Village Palampur</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>The French revolution</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Physicsl Features of india</td>
            <td>4</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Socialism in Europe and Russian Revolution</td>
            <td>5</td>
        </tr>
        <tr>
            <td>6</td>
            <td>What is democracy? Why Democracy?</td>
            <td>3</td>
        </tr>
        <tr>
            <td>7</td>
            <td>People As Resource</td>
            <td>2</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Constitutional Design</td>
            <td>4</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Drainage</td>
            <td>3</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Nazism and the rise of Hitler</td>
            <td>2</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Poverty as a Challenge</td>
            <td>3</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Electoral politics</td>
            <td>4</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Climate</td>
            <td>3</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Forest Society and Colonization</td>
            <td>3</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Natural Vegetation and Wildlife</td>
            <td>2</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Pastoralists in Modern World</td>
            <td>3</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Working of Institutions</td>
            <td>2</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Food security in India</td>
            <td>3</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Democratic Rights</td>
            <td>3</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Peasants and Farmers, The coming of modern agriculture in England</td>
            <td>3</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Population</td>
            <td>3</td>
        </tr>
    </table>

</section>