<section>
    <div id="main-row">
        <div class="left">
            <img id="logo" src="assets/images/schedule-class/logo.svg">
            <div id="form-box">
                <h1>Book your Free Class</h1>
                <h3>Learn from India`s best teachers</h3>
                <h4>Enter your Details</h4>
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Enter name of your child">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Enter you Mobile Number">
                    </div>
                    <div class="row">
                        <div class="form-group f">
                            <input placeholder="Class">
                        </div>
                        <div class="form-group s">
                            <input placeholder="Email Id">
                        </div>
                        <div class="form-group t">
                            <input placeholder="State">
                        </div>
                    </div>
                    <button>Schedule a Free Class</button>
                </form>
            </div>
        </div>
        <div class="right"></div>
    </div>
</section>