<section>
    <p>
        Following topics will be discussed in view of CBSE syllabus ,NTSE, Junior Science and Maths Olympiads.
    </p>
    <h1>Mathematics</h1>
    <table>
        <tbody>
            <tr>
                <th>Chapter</th>
                <th>Name of Chapter</th>
                <th>Number of lectures</th>
            </tr>
            <tr>
                <td>Chapter 1</td>
                <td>Rational Numbers</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Chapter 2</td>
                <td>Squares and Square Roots</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Chapter 3</td>
                <td>Cubes and Cube Roots</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Chapter 4</td>
                <td>Linear Equations in One Variable</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Chapter 5</td>
                <td>Quadrilaterals</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Chapter 6</td>
                <td>Construction of Quadrilaterals</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Chapter 7</td>
                <td>Playing with Numbers</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Chapter 8</td>
                <td>Algebraic Expressions</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Chapter 9</td>
                <td>Algebraic Identities</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Chapter 10</td>
                <td>Exponents and Powers</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Chapter 11</td>
                <td>Percentage and its Applications</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Chapter 12</td>
                <td>Compound Interest</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Chapter 13</td>
                <td>Direct and Inverse variation</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Chapter 14</td>
                <td>Visualizing Solid Shapes</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Chapter 15</td>
                <td>Mensuration</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Chapter 16</td>
                <td>Introduction to Graphs</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Chapter 17</td>
                <td>Data Handling</td>
                <td>6</td>
            </tr>

            <tr>
                <td>Chapter 18</td>
                <td>Probability</td>
                <td>4</td>
            </tr>

            <tr>
                <td>Chapter 19</td>
                <td>Revision</td>
                <td>18</td>
            </tr>


        </tbody>
    </table>


    <h2>Rational Numbers</h2>
    <ul>
        <li><b>1:1</b> Introduction</li>
        <li><b>1:2</b> Properties of Rational Numbers</li>
        <li><b>1:3</b> Representation of Rational Numbers on the
            Number Line</li>
        <li><b>1:4</b> Rational Numbers between Two Rational Numbers</li>
    </ul>

    <h2>Linear Equations In One Variable</h2>

    <ul>
        <li><b>2:1</b> Introduction</li>
        <li><b>2:2</b> Solving Equations which have Linear Expressions on one
            Side and Numbers on the other Side</li>
        <li><b>2:3</b> Some Applications</li>
        <li><b>2:4</b> Solving Equations having the Variable on both Sides</li>
        <li><b>2:5</b> Some
            More Applications</li>
        <li><b>2:6</b> Reducing Equations to Simpler Form</li>
        <li><b>2:7</b> Reducing Equations to Simpler Form, Equations Reducible
            to the Linear Form</li>
    </ul>

    <h2>Understanding Quadrilaterals</h2>

    <ul>
        <li><b>3:1</b> Introduction</li>
        <li><b>3:2</b> Polygons</li>
        <li><b>3:3</b> Sum of the Measures of the Exterior Angles of a
            Polygon</li>
        <li><b>3:4</b> Kinds of Quadrilaterals</li>
        <li><b>3:5</b> Some Special Parallelograms</li>
    </ul>

    <h2>Practical Geometry</h2>
    <ul>
        <li><b>4:1</b> Introduction</li>
        <li><b>4:2</b> Construction a Quadrilateral</li>
        <li><b>4:3</b> Some Special Cases</li>
    </ul>

    <h2>Data Handling</h2>
    <ul>
        <li><b>5:1</b> Looking for Information</li>
        <li><b>5:2</b> Organising Data</li>
        <li><b>5:3</b> Grouping Data</li>
        <li><b>5:4</b> Circle Graph or Pie Chart</li>
        <li><b>5:5</b> Chance and Probability</li>
    </ul>

    <h2>Squares and Square Roots</h2>
    <ul>
        <li><b>6:1</b> Introduction</li>
        <li><b>6:2</b> Properties of Square Numbers</li>
        <li><b>6:3</b> Some More Interesting Patterns</li>
        <li><b>6:4</b> Finding the Square of a Number</li>
        <li><b>6:5</b> Square Roots</li>
        <li><b>6:6</b> Square Roots of Decimals</li>
        <li><b>6:7</b> Estimating Square Root</li>
    </ul>

    <h2>Cubes &amp; Cube Roots</h2>
    <ul>
        <li><b>7:1</b> Introduction</li>
        <li><b>7:2</b> Cubes</li>
        <li><b>7:3</b> Cube Roots</li>
    </ul>

    <h2>Comparing Quantities</h2>
    <ul>
        <li><b>8:1</b> Recalling Ratios and Percentages</li>
        <li><b>8:2</b> Finding the Increase or Decrease Per cent</li>
        <li><b>8:3</b> Finding
            Discounts</li>
        <li><b>8:4</b> Prices Related to Buying and Selling (Profit and Loss)</li>
        <li><b>8:5</b> Sales Tax/Value Added Tax</li>
        <li><b>8:6</b> Compound Interest</li>
        <li><b>8:7</b> Deducing a Formula for Compound Interest</li>
        <li><b>8:8</b> Rate Compounded Annually or Half Yearly (Semi Annually)</li>
        <li><b>8:9</b> Applications
            of Compound Interest Formula</li>
    </ul>

    <h2>Algebraic Expressions and Identities</h2>
    <ul>
        <li><b>9:1</b> What are Expressions?</li>
        <li><b>9:2</b> Terms</li>
        <li><b>9:3</b> Factors and Coefficients</li>
        <li><b>9:4</b> Monomials</li>
        <li><b>9:5</b> Binomials and Polynomials</li>
        <li><b>9:6</b> Like and Unlike Terms</li>
        <li><b>9:7</b> Addition and Subtraction of Algebraic Expressions</li>
        <li><b>9:8</b> Multiplication of Algebraic Expressions: Introduction</li>
        <li><b>9:9</b> Multiplying a Monomial by a Monomial</li>
        <li><b>9:10</b> Multiplying a
            Monomial by a Polynomial</li>
        <li><b>9:11</b> Multiplying a Polynomial by a Polynomial</li>
        <li><b>9:12</b> What is an Identity?</li>
        <li><b>9:13</b> Standard Identities</li>
        <li><b>9:14</b> Applying Identities</li>
    </ul>

    <h2>Visualizing Solid Shapes</h2>
    <ul>
        <li><b>10:1</b> Introduction</li>
        <li><b>10:2</b> Views of 3D-Shapes</li>
        <li><b>10:3</b> Mapping Space Around Us</li>
        <li><b>10:4</b> Faces</li>
        <li><b>10:5</b> Edges and
            Vertices</li>
    </ul>

    <h2>Mensuration</h2>

    <ul>
        <li><b>11:1</b> Introduction</li>
        <li><b>11:2</b> Let us Recall</li>
        <li><b>11:3</b> Area of Trapezium</li>
        <li><b>11:4</b> Area of a General Quadrilateral</li>
        <li><b>11:5</b> Area of a
            Polygon</li>
        <li><b>11:6</b> Solid Shapes</li>
        <li><b>11:7</b> Surface Area of Cube</li>
        <li><b>11:8</b> Cuboid and Cylinder</li>
        <li><b>11:9</b> Volume of Cube</li>
        <li><b>11:10</b> Cuboid and Cylinder</li>
        <li><b>11:11</b> Volume
            and Capacity</li>
    </ul>

    <h1>Physics</h1>
    <table>
        <tbody>
            <tr>
                <th>Chapters</th>
                <th>Name of Chapter</th>
                <th>No. of Lectures</th>
            </tr>
            <tr>
                <td>Chapter 11</td>
                <td>Force and Pressure</td>
                <td>17</td>
            </tr>
            <tr>
                <td>Chapter 12</td>
                <td>Friction</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Chapter 13</td>
                <td>Sound</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Chapter 14</td>
                <td>Electricity</td>
                <td>14</td>
            </tr>
            <tr>
                <td>Chapter 15</td>
                <td>Some Natural Phenomena</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Chapter 16</td>
                <td>Light</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Chapter 17</td>
                <td>Stars and The Solar System</td>
                <td>11</td>
            </tr>
        </tbody>
    </table>

    <h2>Force and Pressure</h2>

    <ul>
        <li><strong>11.1:</strong> Force: A push or a Pull</li>
        <li><strong>11.2:</strong> Forces are due to an Interaction</li>
        <li><strong>11.3:</strong> Exploring Forces</li>
        <li><strong>11.4:</strong> A Force can Change the State of Motion</li>
        <li><strong>11.5:</strong> Force can Change the Shape of an object</li>
        <li><strong>11.6:</strong> Contact Forces</li>
        <li><strong>11.7:</strong> Non-contact Forces</li>
        <li><strong>11.8:</strong> Pressure</li>
        <li><strong>11.9:</strong> Pressure Exerted by Liquids and Gases</li>
        <li><strong>11.10:</strong> Atmospheric Pressure</li>
    </ul>

    <h2>Friction</h2>
    <ul>
        <li><strong>12.1:</strong> Force of&nbsp; Friction</li>
        <li><strong>12.2:</strong> Factors affecting Friction</li>
        <li><strong>12.3:</strong> Friction: A Necessary Evil</li>
        <li><strong>12.4:</strong> Increasing and Reducing Friction</li>
        <li><strong>12.5:</strong> Wheels Reduce Friction</li>
        <li><strong>12.6:</strong> Fluid Friction</li>
    </ul>

    <h2>Sound</h2>
    <ul>
        <li><strong>13.1:</strong> Sound is Produced by Vibrating Bodies</li>
        <li><strong>13.2:</strong> Sound Produced by Humans</li>
        <li><strong>13.3:</strong> Sounds Needs a Medium for Propagation</li>
        <li><strong>13.4:</strong> We Hear Sound through Our Ears</li>
        <li><strong>13.5:</strong> Aptitude, Time Period and Frequency of a vibration</li>
        <li><strong>13.6:</strong> Audible and Inaudible Sounds</li>
        <li><strong>13.7:</strong> Noise and Music</li>
        <li><strong>13.8:</strong> Noise Pollution</li>
    </ul>

    <h2>Electricity</h2>
    <ul>
        <li><strong>14.1: </strong>Do Liquids Conduct Electricity?</li>
        <li><strong>14.2: </strong>Chemical Effects Of Electric Current</li>
        <li><strong>14.3: </strong>Electroplating</li>
    </ul>

    <h2>Some Natural Phenomena</h2>
    <ul>
        <li><strong>15.1: </strong>Lightning</li>
        <li><strong>15.2: </strong>Charging by Rubbing</li>
        <li><strong>15.3: </strong>Types of Charges and Their Interaction</li>
        <li><strong>15.4: </strong>Transfer of Charge</li>
        <li><strong>15.5: </strong>The Story of Lightning</li>
        <li><strong>15.6: </strong>Lightning Safety</li>
        <li><strong>15.7: </strong>Earthquakes</li>
    </ul>

    <h2>Light</h2>

    <ul>
        <li><strong>16.1: </strong>What makes Things Visible</li>
        <li><strong>16.2: </strong>Laws of Reflection</li>
        <li><strong>16.3: </strong>Regular and Diffused Reflection</li>
        <li><strong>16.4: </strong>Reflected Light Can be Reflected Again</li>
        <li><strong>16.5: </strong>Multiple Images</li>
        <li><strong>16.6: </strong>Sunlight – White or Coloured</li>
        <li><strong>16.7: </strong>What is inside Our Eyes?</li>
        <li><strong>16.8: </strong>Care of the Eyes</li>
        <li><strong>16.9: </strong>Visually Impaired Persons Can Read and Write</li>
        <li><strong>16.10: </strong>What is Braille System?</li>
    </ul>

    <h2>Stars and The Solar System</h2>

    <ul>
        <li><strong>17.1: </strong>The Moon</li>
        <li><strong>17.2: </strong>The Stars</li>
        <li><strong>17.3: </strong>Constellations</li>
        <li><strong>17.4: </strong>The Solar System</li>
        <li><strong>17.5: </strong>Some Other Members of the Solar System</li>
    </ul>

    <h1>Biology</h1>
    <table>
        <tbody>
            <tr>
                <th>Chapters</th>
                <th>Name of Chapter</th>
                <th>No. of Lectures</th>
            </tr>
            <tr>
                <td>Chapter 1</td>
                <td>Crop Production and Management</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Chapter 2</td>
                <td>Microorganisms: Friend and Foe</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Chapter 7</td>
                <td>Conservation of Plants and Animals</td>
                <td>14</td>
            </tr>
            <tr>
                <td>Chapter 8</td>
                <td>Cell — Structure and Functions</td>
                <td>19</td>
            </tr>
            <tr>
                <td>Chapter 9</td>
                <td>Reproduction in Animals</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Chapter 10</td>
                <td>Reaching the Age of Adolescence</td>
                <td>11</td>
            </tr>
            <tr>
                <td>Chapter 18</td>
                <td>Pollution of Air and Water</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>

    <h2>Crop Production and Management</h2>
    <ul>
        <li><strong>1.1: </strong>Agricultural Practices</li>
        <li><strong>1.2: </strong>Basic Practices of Crop Production</li>
        <li><strong>1.3: </strong>Preparation of Soil</li>
        <li><strong>1.4: </strong>Sowing</li>
        <li><strong>1.5 </strong>Adding Manure and Fertilizers</li>
        <li><strong>1.6: </strong>Irrigation</li>
        <li><strong>1.7: </strong>Protection from Weeds</li>
        <li><strong>1.8: </strong>Harvesting</li>
        <li><strong>1.9: </strong>Storage</li>
        <li><strong>1.10: </strong>Food from Animals</li>
    </ul>

    <h2>Microorganisms: Frind and Foe </h2>

    <ul>
        <li><strong>2.1: </strong>Microorganisms</li>
        <li><strong>2.2: </strong>Where do Microorganisms Live?</li>
        <li><strong>2.3: </strong>Microorganisms and Us</li>
        <li><strong>2.4: </strong>Harmful Microorganisms</li>
        <li><strong>2.5: </strong>Food Preservation</li>
        <li><strong>2.6: </strong>Nitrogen Fixation</li>
        <li><strong>2.7: </strong>Nitrogen cycle</li>
    </ul>

    <h2>Conservation of Plants and Animals</h2>

    <ul>
        <li><strong>7.1: </strong>Deforestation and Its Causes</li>
        <li><strong>7.2: </strong>Consequences of Deforestation</li>
        <li><strong>7.3: </strong>Conservation of Forest and Wildlife</li>
        <li><strong>7.4: </strong>Biosphere Reserve</li>
        <li><strong>7.5: </strong>Flora and Fauna</li>
        <li><strong>7.6: </strong>Endemic Species</li>
        <li><strong>7.7: </strong>Wildlife Sanctuary</li>
        <li><strong>7.8: </strong>National Park</li>
        <li><strong>7.9: </strong>Red Data Book</li>
        <li><strong>7.10: </strong>Migration</li>
        <li><strong>7.11: </strong>Recycling of Paper</li>
        <li><strong>7.12: </strong>Reforestation</li>
    </ul>

    <h2>Cell — Structure and Functions</h2>
    <ul>
        <li><strong>8.1: </strong>Discovery of the Cell</li>
        <li><strong>8.2: </strong>The Cell</li>
        <li><strong>8.3: </strong>Organisms show Variety in Cell Number, Shape and Size</li>
        <li><strong>8.4: </strong>Cell Structure and Function</li>
        <li><strong>8.5: </strong>Parts of the Cell</li>
        <li><strong>8.6: </strong>Comparison of Plants and Animals Cells</li>
    </ul>

    <h2>Reproduction in Animals</h2>

    <ul>
        <li><strong>9.1: </strong>Modes of Reproduction</li>
        <li><strong>9.2: </strong>Sexual Reproduction</li>
        <li><strong>9.3: </strong>Asexual Reproduction</li>
    </ul>

    <h2>Reaching the Age of Adolescence</h2>

    <ul>
        <li><strong>10.1: </strong>Adolescence and Puberty</li>
        <li><strong>10.2: </strong>Changes at Puberty</li>
        <li><strong>10.3: </strong>Secondary Sexual Characters</li>
        <li><strong>10.4: </strong>Role of Hormones in Initiating Reproductive Function</li>
        <li><strong>10.5: </strong>Reproductive Phase of Life in Humans</li>
        <li><strong>10.6: </strong>How is the Sex of the Baby Determined?</li>
        <li><strong>10.7: </strong>Hormones other than Sex Hormones</li>
        <li><strong>10.8: </strong>Role of Hormones in Completing the Life History of Insects and Frogs</li>
        <li><strong>10.9: </strong>Reproductive Health</li>
    </ul>

    <h2>Pollution of Air and Water</h2>

    <ul>
        <li><strong>18.1: </strong>Air Pollution</li>
        <li><strong>18.2: </strong>How does Air Get Polluted?</li>
        <li><strong>18.3: </strong>Case Study- The Taj Mahal</li>
        <li><strong>18.4: </strong>Greenhouse Effect</li>
        <li><strong>18.5 </strong>What can be done?</li>
        <li><strong>18.6: </strong>Water Pollution</li>
        <li><strong>18.7: </strong>How does Water Get Polluted?</li>
        <li><strong>18.8: </strong>What is Potable Water and How is Water Purified?</li>
        <li><strong>18.9: </strong>What Can be Done?</li>
    </ul>

    <h1>Chemistry</h1>
    <table>
        <tbody>
            <tr>
                <th>Chapters</th>
                <th>Name of Chapter</th>
                <th>No. of Lectures</th>
            </tr>

            <tr>
                <td>Chapter 3</td>
                <td>Synthetic Fibres and Plastics</td>
                <td>14</td>
            </tr>
            <tr>
                <td>Chapter 4</td>
                <td>Materials: Metals and Non-Metals</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Chapter 5</td>
                <td>Coal and Petroleum</td>
                <td>14</td>
            </tr>
            <tr>
                <td>Chapter 6</td>
                <td>Combustion and Flame</td>
                <td>17</td>
            </tr>

        </tbody>
    </table>


    <h2>Synthetic Fibres and Plastics</h2>

    <ul>
        <li><strong>3.1: </strong>What are Synthetic Fibres?</li>
        <li><strong>3.2: </strong>Types of Synthetic Fibres</li>
        <li><strong>3.3: </strong>Characteristics of Synthetic Fibres</li>
        <li><strong>3.4: </strong>Plastics</li>
        <li><strong>3.5: </strong>Plastics as Materials of Choice</li>
        <li><strong>3.6: </strong>Plastics and the Environment</li>
    </ul>


    <h2>Materials: Metals and Non-Metals</h2>

    <ul>
        <li><strong>4.1: </strong>Physical Properties of Metals and Non-metals</li>
        <li><strong>4.2: </strong>Chemical Properties of Metals and Non-metals</li>
        <li><strong>4.3: </strong>Uses of Metals and Non-metals</li>
    </ul>

    <h2>Coal and Petroleum</h2>
    <ul>
        <li><strong>5.1: </strong>Coal</li>
        <li><strong>5.2: </strong>Petroleum</li>
        <li><strong>5.3: </strong>Natural Gas</li>
        <li><strong>5.4: </strong>Some Natural Resources are Limited</li>
    </ul>


    <h2>Combustion and Flame</h2>

    <ul>
        <li><strong>6.1: </strong>What is&nbsp;Combustion?</li>
        <li><strong>6.2: </strong> How Do We Control Fire?</li>
        <li><strong>6.3 </strong>Types of Combustion</li>
        <li><strong>6.4: </strong>Flame</li>
        <li><strong>6.5: </strong>Structure of a Flame</li>
        <li><strong>6.6: </strong>What is a Fuel?</li>
        <li><strong>6.7: </strong>Fuel Efficiency</li>
    </ul>

    <h1>MAT</h1>
    <table>
        <tbody>
            <tr>
                <th>Chapters</th>
                <th>Chapter Name</th>
                <th>No. of Lectures</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>Test of Alphabets</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Logical numbers, Logical Alphabet</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Repeat the Letters</td>
                <td>1</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Magic of Figures</td>
                <td>2</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Operations</td>
                <td>1</td>
            </tr>
            <tr>
                <td>6.</td>
                <td>Secret of the words</td>
                <td>2</td>
            </tr>
            <tr>
                <td>7.</td>
                <td>Journey Ends</td>
                <td>1</td>
            </tr>
            <tr>
                <td>8.</td>
                <td>Sequencing</td>
                <td>2</td>
            </tr>
            <tr>
                <td>9.</td>
                <td>Blood Sample</td>
                <td>2</td>
            </tr>
            <tr>
                <td>10.</td>
                <td>Sit Over Jere</td>
                <td>2</td>
            </tr>
            <tr>
                <td>11.</td>
                <td>Unlock the mystery</td>
                <td>2</td>
            </tr>
            <tr>
                <td>12.</td>
                <td>Pictures</td>
                <td>2</td>
            </tr>
            <tr>
                <td>13.</td>
                <td>Throw It</td>
                <td>1</td>
            </tr>
            <tr>
                <td>14.</td>
                <td>Date and Time</td>
                <td>2</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Compare &amp; Out</td>
                <td>1</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Figure Situation</td>
                <td>2</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Mixture</td>
                <td>2</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Revision</td>
                <td>9</td>
            </tr>
        </tbody>
    </table>


</section>