section{
    padding:3.75rem 11.25rem 0rem 11.25rem /* 60px 180px 0px 180px */
}

.row{
    margin-top: 7.875rem; /* 126px */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.item{
    margin-bottom: 6.25rem; /* 100px */
    width:calc(25% - 3.625rem);
    padding:3.75rem 0; /* 60px */
    background: #F7F7F7;
    border-radius: 1.25rem; /* 20px */
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}
.item img{
    border: 0.0625rem /* 1px */ solid;
    width: 8.75rem; /* 140px */
    height: 8.75rem; /* 140px */
    display: inline-block;
    border-radius: 100%;
}
.item h2{
    color:black;
    margin-top: 3.125rem; /* 50px */
}

.item h6{
    font-size: 1.125rem; /* 18px */
    color:var(--primary-color)
}
