<section>
    <button [ngClass]="{active:activePart.active == 'Overview'}" (click)="activePart.active='Overview'">Overview</button>
    <button [ngClass]="{active:activePart.active == 'Content'}" (click)="activePart.active='Content'">Course
        Content</button>
    <button [ngClass]="{active:activePart.active == 'Instructor'}"
        (click)="activePart.active='Instructor'">Instructor</button>
    <button [ngClass]="{active:activePart.active == 'Reviews'}" (click)="activePart.active='Reviews'">Reviews</button>
    <button [ngClass]="{active:activePart.active == 'Syllabus'}" (click)="activePart.active='Syllabus'">Syllabus</button>
</section>