<section>
    <div class="row">
        <div class="item" *ngFor="let s of statistics">
            <img src="assets/images/statistics/{{s.imagePath}}">
            <h2>{{s.value}}</h2>
            <p>{{s.title}}</p>
        </div>
        <!-- <div class="item">
            <img src="assets/images/statistics/happy-students.svg">
            <h2>1000+</h2>
            <p>Happy Students</p>
        </div>
        <div class="item">
            <img src="assets/images/statistics/registered-tutors.svg">
            <h2>100+</h2>
            <p>Registered Tutors</p>
        </div> -->
    </div>
</section>