



  <section class="card-deck ">
   
     
    
    <div class="card">
      <div class="icon ">
        <img src="assets/images/contact/location.svg" alt="Location Icon">
      </div>
      <div class="details" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3446.441629838923!2d75.83629707633175!3d30.252995674819214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3910511c7df6adbd%3A0x9e8a0016ca737855!2sPinnaclo%20EduCare!5e0!3m2!1sen!2sin!4v1735794516554!5m2!1sen!2sin" width="300" height="300" style="border:5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <img src="assets/images/contact/email.svg" alt="Email Icon">
      </div>
      <div class="details">
        <h2 > <a href="mailto:support@eduotics.in">support&#64;eduotics.in</a></h2>
        <h2  > <a href="mailto:info@eduotics.in">info&#64;eduotics.in</a>  </h2>
       
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <img src="assets/images/contact/phone.svg" alt="Phone Icon">
      </div>
      <div class="details">
        <h2>123-456-7890</h2>
        <h2>123-456-7891</h2>
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <i class="fa fa-clock-o" style="color:#0b5f73; font-size: 80px;"></i>
      </div>
      <div class="details">
        <h2>Mon - Sat:<br/> 9:00 AM - 7:00 PM</h2>
        <h2> Sun: Closed</h2>
      </div>
    </div>
  </section>


