<section>
    <div class="item">
      <img src="assets/images/contact/location.svg" alt="Location Icon">
      <address>Sangrur , Punjab , India</address>
    </div>
    <div class="item">
      <img src="assets/images/contact/email.svg" alt="Email Icon">
      <a href="mailto:support@eduotics.in">support&#64;eduotics.in</a>
      <a href="mailto:info@eduotics.in">info&#64;eduotics.in</a>
    </div>
    <div class="item">
      <img src="assets/images/contact/phone.svg" alt="Phone Icon">
      <h2>123-456-7890</h2>
      <h2>123-456-7891</h2>
    </div>
  </section>
  