<section>
    <p>
        Following topics will be discussed in view of CBSE syllabus ,NTSE, Junior Science and Maths Olympiads.
    </p>
    <h1>Mathematics</h1>
    <table>
        <tr>
            <th>S.No.</th>
            <td>Chapter Name</td>
            <td>No of Lectures</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Real Number</td>
            <td>8</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Polynomial</td>
            <td>9</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Linear equation in two variables</td>
            <td>8</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Quadratic Equations</td>
            <td>6</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Similar Triange</td>
            <td>11</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Circles</td>
            <td>4</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Trigonometry</td>
            <td>8</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Heights and Distances</td>
            <td>3</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Area related to circles</td>
            <td>4</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Surface area and volume</td>
            <td>8</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Statistics</td>
            <td>7</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Probability</td>
            <td>3</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Coordinate geometry</td>
            <td>8</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Arithmetic Progression</td>
            <td>5</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Constructions</td>
            <td>5</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Revision</td>
            <td>29</td>
        </tr>
    </table>

    <h2>Real Number</h2>
    <p>Fundamental Theorem of Arithmetic – statements after reviewing work done earlier and after illustrating and
        motivating through examples, Proofs of results – irrationality of √2, √3, √5, decimal expansions of rational
        numbers in terms of terminating/non-terminating recurring decimals
    </p>

    <h2>Polynomial</h2>
    <p>Zeros of a polynomial. Relationship between zeros and coefficients of quadratic polynomials.</p>

    <h2>Linear equations in two variables</h2>
    <ol type="a">
        <li> Pair of linear equations in two variables and graphical method of their solution,
            consistency/inconsistency.</li>
        <li>Algebraic conditions for number of solutions. Solution of a pair of linear equations in two variables
            algebraically – by substitution, by elimination. Simple situational problems. Simple problems on equations
            reducible to linear equations.</li>
    </ol>

    <h2>Quadratic Equations</h2>
    <p>Standard form of a quadratic equation ax2+bx+c=0, (a ≠ 0). Solution of the quadratic equations (only real
        mysqladmins) by factorization, by completing the square and by using quadratic formula. Relationship between
        discriminant and nature of mysqladmins.</p>

    <h2>Circles</h2>

    <p>Tangents to a circle motivated by chords drawn from points coming closer and closer to the point. </p>
    <ol>
        <li>(Prove) The tangent at any point of a circle is perpendicular to the radius through the point of contact.
        </li>
        <li>(Prove) The lengths of tangents drawn from an external point to circle are equal.</li>
    </ol>

    <h2>Trigonometry</h2>
    <ol>
        <li><strong>Introduction To Trigonometry – </strong>Trigonometric ratios of an acute angle of a
            right-angled triangle. Proof of their existence (well defined); Values (with proofs) of the trigonometric
            ratios of 30°, 45° and 60°. Relationships between the ratios.</li>
        <li><strong>Trigonometric Identities – </strong>Proof and applications of the identity sin<sup>2</sup>A +
            cos<sup>2</sup>A = 1. Only simple identities to be given. </li>
        <li><strong>Heights and Distances – </strong>Simple and believable problems on heights and distances.
            Problems should not involve more than two right triangles. Angles of elevation/depression should be
            only 30°, 45°, 60°.</li>
    </ol>

    <h2>Area related to circles</h2>
    <p>Motivate the area of a circle; area of sectors and segments of a circle. Problems based on areas and
        perimeter/circumference of the above-said plane figures. (In calculating the area of a segment of a circle,
        problems should be restricted to the central angle of 60°, 90°. Plane figures involving triangles, simple
        quadrilaterals and circle should be taken).</p>

    <h2>Surface Areas and Volumes</h2>
    <ol type="a">
        <li>Problems on finding surface areas and volumes of combinations of any two of the following: cubes, cuboids,
            spheres, hemispheres and right circular cylinders/cones.</li>
        <li>Problems involving converting one type of metallic solid into another and other mixed problems</li>
    </ol>

    <h2>Statistics</h2>
    <p> Median and mode of grouped data (bimodal situation to be avoided).</p>

    <h2>Probability</h2>
    <p>Classical definition of probability. Simple problems on single events (not using set notation).</p>

    <h2>Coordinate Geometry</h2>
    <ol>
        <li><b>Lines (In two-dimensions) –</b> Concepts of coordinate geometry, graphs of linear equations. Distance formula. Section formula (internal division).</li>
    </ol>

    <h2>Arithmetic Progression</h2>
    <p> Motivation for studying Arithmetic Progression Derivation of the nth term.</p>

    <h2>Constructions</h2>
    <ol>
        <li> Division of a line segment in a given ratio (internally).</li>
        <li>Tangent to a circle from a point outside it.</li>
    </ol>
   


    <h1>Chemistry </h1>
    <table>
        <tr>
            <th>S.No.</th>
            <th>Chapter</th>
            <th>No. of Lectures</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Chemical reaction and equation</td>
            <td>8</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Periodic classification of elements</td>
            <td>6</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Acids, Bases and salts</td>
            <td>10</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Metals and Nonmetals</td>
            <td>10</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Carbon and its compounds</td>
            <td>19</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Revision</td>
            <td>22</td>
        </tr>
    </table>

    <h1>Physics</h1>
    <table>
        <tr>
            <th>S.No.</th>
            <th>Chapter</th>
            <td>No. of lectures</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Electricity</td>
            <td>15</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Magnetism</td>
            <td>11</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Source of Energy</td>
            <td>8</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Light</td>
            <td>21</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Revision</td>
            <td>22</td>
        </tr>
    </table>
    <h1>Biology</h1>
    <table>
        <tr>
            <th>S.No.</th>
            <th>Chapter</th>
            <th>No. of Lectures</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Nutrition</td>
            <td>10</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Respiration</td>
            <td>7</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Transportation</td>
            <td>6</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Excretion</td>
            <td>5</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Control and coordination</td>
            <td>12</td>
        </tr>
        <tr>
            <td>6</td>
            <td>How Do Organisms Reproduce</td>
            <td>11</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Heredity and Evolution</td>
            <td>11</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Our Environment</td>
            <td>2</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Management Of Natural Resources</td>
            <td>1</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Revision</td>
            <td>22</td>
        </tr>
    </table>
    <h1>Social Science</h1>
    <table>
        <tr>
            <th>S.No.</th>
            <th>Chapter</th>
            <th>No. of Lectures</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Power Sharing</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Resources and Development</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>The Rise of Nationalism in Europe</td>
            <td>4</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Development</td>
            <td>2</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Federalism</td>
            <td>2</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Sectors of Indian Economy</td>
            <td>3</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Nationalist Movement in Indo China</td>
            <td>3</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Forst &amp; Wild Life Resources</td>
            <td>2</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Nationism in India</td>
            <td>4</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Water Resources/td>
            <td>2</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Democracy &amp; Diversity</td>
            <td>4</td>
        </tr>
        <tr>
            <td>12</td>
            <td>The Making of Global World</td>
            <td>3</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Gender Religion and Caste</td>
            <td>2</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Agriculture</td>
            <td>2</td>
        </tr>
        <tr>
            <td>15</td>
            <td>The Age of Industrialisation</td>
            <td>3</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Work, life and leisure: Cities in The Contemporary World</td>
            <td>3</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Minerals &amp; Energy Resources</td>
            <td>2</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Money &amp; Credit</td>
            <td>2</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Popular Struggles and Movements</td>
            <td>2</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Globalisation and the Indian Economy</td>
            <td>2</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Print Culture and the Modern World</td>
            <td>2</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Consumer Rights</td>
            <td>2</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Manufacturing Industries</td>
            <td>2</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Lifelines of the National Economy</td>
            <td>2</td>
        </tr>
        <tr>
            <td>25</td>
            <td>Political Parties</td>
            <td>2</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Novel Society &amp; History</td>
            <td>2</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Outcomes of Democracy</td>
            <td>2</td>
        </tr>
        <tr>
            <td>28</td>
            <td>Challenges to Democracy</td>
            <td>1</td>
        </tr>
        <tr>
            <td>29</td>
            <td>(State Board) Syllabus</td>
            <td>23</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Revision</td>
            <td>25</td>
        </tr>
    </table>
    <h1>MAT</h1>
    <table>
        <tr>
            <th>S.No.</th>
            <th>Chapter</th>
            <th>No. of Lectures</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Aplhabet Test</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Coding - Decoding</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Number Series</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Alphabet Series</td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Letter Repeating Series</td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Missing Term in Figure</td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Mathemetical operations,Direction sense test</td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Sitting Arrangement,Ranking &amp; Ordering</td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Blood Relation</td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td>Puzzle Test</td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Venn diagram,Syllogism</td>
            <td></td>
        </tr>
        <tr>
            <td>12</td>
            <td>Analogy, Classification</td>
            <td></td>
        </tr>
        <tr>
            <td>13</td>
            <td>Pyramid</td>
            <td></td>
        </tr>
        <tr>
            <td>14</td>
            <td>Calendar Test</td>
            <td></td>
        </tr>
        <tr>
            <td>15</td>
            <td>Dice Test, Cube Test</td>
            <td></td>
        </tr>
        <tr>
            <td>16</td>
            <td>Clock Test</td>
            <td></td>
        </tr>
        <tr>
            <td>17</td>
            <td>Figure Partition &amp; Counting, Mirror Image &amp; Water Image, Paper Cutting</td>
            <td></td>
        </tr>
        <tr>
            <td>18</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>19</td>
            <td>Nonverbal Analogy, Nonverbal Classification</td>
            <td></td>
        </tr>
        <tr>
            <td>20</td>
            <td>Logical sequence of words, Vedic Maths</td>
            <td></td>
        </tr>
    </table>
</section>