<section>
    <p>
        Following topics will be discussed in view of CBSE syllabus ,NTSE, Junior Science and Maths Olympiads.
    </p>

    <h1>Mathematics</h1>
    <h2>UNIT I: NUMBER SYSTEMS</h2>
    <ol class="main">
        <li>Real Numbers
            <ol class="sub">
                <li>Review of representation of natural numbers, integers, and rational numbers on the number
                    line. Representation of terminating / non-terminating recurring decimals onthe number line
                    through successive magnification. Rational numbers as recurring/ terminating decimals.
                    Operations on real numbers.</li>
                <li>Examples of non-recurring/non-terminating decimals. Existence of non-rational numbers
                    (irrational numbers) such as √2 , √3 and their representation on the number line. Explaining
                    that every real number is represented by a unique point on the number line and conversely,
                    viz. every point on the number line represents a unique real number. </li>
                <li>Definition of nth root of a real number</li>
                <li>Rationalization (with precise meaning) of real numbers of the type <span
                        [innerHTML]="types|safe|tex"></span> (and their combinations) where x
                    and y are natural numbers and a and b are integers.</li>

                <li>Recall of laws of exponents with integral powers. Rational exponents with positive real bases
                    (to be done by particular cases, allowing learner to arrive at the general laws.)
                </li>
            </ol>
        </li>
    </ol>

    <h2>UNIT II: ALGEBRA</h2>
    <ol class="main">
        <li>Polynomials
            <p class="inner-para">Definition of a polynomial in one variable, with examples and counter examples.
                Coefficients of a
                polynomial, terms of a polynomial and zero polynomial. Degree of a polynomial. Constant, linear,
                quadratic and cubic polynomials. Monomials, binomials, trinomials. Factors and multiples. Zeros of a
                polynomial. Factorization of ax<sup>2</sup>&nbsp;+ bx + c, a ≠ 0 where a, b and c are real numbers, and
                of cubic polynomials using the Factor Theorem.</p>

            <p class="inner-para">
                (<em>x&nbsp;</em>+&nbsp;<em>y&nbsp;</em>+&nbsp;<em>z</em>)<sup>2</sup>&nbsp;=&nbsp;<em>x</em><sup>2</sup>&nbsp;+&nbsp;<em>y</em><sup>2</sup>&nbsp;+&nbsp;<em>z</em><sup>2</sup>&nbsp;+
                2<em>xy</em>&nbsp;+ 2<em>yz</em>&nbsp;+ 2<em>zx</em></p>
            <p class="inner-para">
                (<em>x&nbsp;</em>±&nbsp;<em>y</em>)<sup>3</sup>&nbsp;=&nbsp;<em>x</em><sup>3</sup>&nbsp;±&nbsp;<em>y</em><sup>3</sup>&nbsp;±
                3<em>xy&nbsp;</em>(<em>x&nbsp;</em>±&nbsp;<em>y</em>)</p>
            <p class="inner-para">
                <em>x</em><sup>3&nbsp;</sup>+&nbsp;<em>y</em><sup>3&nbsp;</sup>+<em>&nbsp;z</em><sup>3&nbsp;</sup>–
                3<em>xyz</em>&nbsp;= (<em>x&nbsp;</em>+&nbsp;<em>y</em>&nbsp;+&nbsp;<em>z</em>)
                (<em>x</em><sup>2</sup>&nbsp;+&nbsp;<em>y</em><sup>2</sup>&nbsp;+&nbsp;<em>z</em><sup>2</sup>&nbsp;–&nbsp;<em>xy</em>&nbsp;–&nbsp;<em>yz</em>&nbsp;–&nbsp;<em>zx</em>)
            </p>
            <p class="inner-para">and their use in the factorization of polynomials.</p>
        </li>
        <li>
            LINEAR EQUATIONS IN TWO variables
            <p class="inner-para">
                Recall of linear equations in one variable. Introduction to the equation in two variables.
                Focus on linear equations of the type ax+by+c=0. Explain that a linear equation in two
                variables has infinitely many solutions and justify their being written as ordered pairs of real
                numbers, plotting them and showing that they lie on a line. Graph of linear equations in two
                variables. Examples, problems from real life, including problems on Ratio and Proportion
                and with algebraic and graphical solutions being done simultaneously.

            </p>
        </li>
    </ol>

    <h2>UNIT III: COORDINATE GEOMETRY</h2>
    <h2>COORDINATE GEOMETRY</h2>
    <p>The Cartesian plane, coordinates of a point, names and terms associated with the
        coordinate plane, notations, plotting points in the plane.
    </p>

    <h2>UNIT IV: GEOMETRY</h2>
    <ol class="main">
        <li>INTRODUCTION TO EUCLID'S GEOMETRY (Not for assessment)
            <p class="inner-para">History - Geometry in India and Euclid's geometry. Euclid's method of formalizing
                observed
                phenomenon into rigorous Mathematics with definitions, common/obvious notions,
                axioms/postulates and theorems. The five postulates of Euclid. Equivalent versions of the fifth
                postulate. Showing the relationship between axiom and theorem, for example:
                (Axiom) 1. Given two distinct points, there exists one and only one line through them.
                (Theorem) 2. (Prove) Two distinct lines cannot have more than one point in common.</p>
        </li>
        <li>LINES AND ANGLES
            <ol class="sub">
                <li>(Motivate) If a ray stands on a line, then the sum of the two adjacent angles so formed is
                    180<sup>o</sup>&nbsp;and the converse.</li>
                <li>(Prove) If two lines intersect, vertically opposite angles are equal.</li>
                <li>(Motivate) Results on corresponding angles, alternate angles, interior angles when a transversal
                    intersects two parallel lines.</li>
                <li>(Motivate) Lines that are parallel to a given line are parallel.</li>
                <li>(Prove) The sum of the angles of a triangle is 180<sup>o</sup>.</li>
                <li>(Motivate) If a side of a triangle is produced, the exterior angle so formed is equal to the sum of
                    the
                    two interior opposite angles.</li>
            </ol>
        </li>
        <li>Triangles
            <ol class="sub">
                <li>(Motivate) Two triangles are congruent if any two sides and the included angle of one triangle are
                    equal
                    to any two sides and the included angle of the other triangle (SAS Congruence).</li>
                <li>(Prove) Two triangles are congruent if any two angles and the included side of one triangle is
                    equal to any two angles and the included side of the other triangle (ASA Congruence).</li>
                <li>(Motivate) Two triangles are congruent if the three sides of one triangle are equal to three sides
                    of the
                    other triangle (SSS Congruence).</li>
                <li>(Motivate) Two right triangles are congruent if the hypotenuse and a side of one triangle are equal
                    (respectively) to the hypotenuse and a side of the other triangle (RHS Congruence).</li>
                <li>(Prove) The angles opposite to equal sides of a triangle are equal.</li>
                <li>(Motivate) The sides opposite to equal angles of a triangle are equal.</li>
                <li>(Motivate) Triangle inequalities and relation between ‘angle and facing side' inequalities in
                    triangles.</li>
            </ol>
        </li>
        <li>Quadrilaterals
            <ol class="sub">
                <li>(Prove) The diagonal divides a parallelogram into two congruent triangles.</li>
                <li>(Motivate) In a parallelogram opposite sides are equal, and conversely.</li>
                <li>(Motivate) In a parallelogram opposite angles are equal, and conversely.</li>
                <li>(Motivate) A quadrilateral is a parallelogram if a pair of its opposite sides is parallel and equal.</li>
                <li>(Motivate) In a parallelogram, the diagonals bisect each other and conversely.</li>
                <li>(Motivate) In a triangle, the line segment joining the mid points of any two sides is parallel to the
                    third side and in half of it and (motivate) its converse.</li>
            </ol>
        </li>
        <li>Area
            <br>Review concept of area, recall area of a rectangle.
            <ol class="sub">
                <li>(Prove) Parallelograms on the same base and between the same parallels have equal area.</li>
                <li>(Motivate) Triangles on the same base (or equal bases) and between the same parallels are 
                    equal in area.</li>
            </ol>
        </li>
        <li>Circles
            <p class="inner-para">Through examples, arrive at definition of circle and related concepts-radius, circumference, 
                diameter, chord, arc, secant, sector, segment, subtended angle.</p>
                <ol class="sub">
                    <li>(Prove) Equal chords of a circle subtend equal angles at the center and (motivate) its converse.</li>
                    <li>(Motivate) The perpendicular from the center of a circle to a chord bisects the chord and conversely, the
                        line drawn through the center of a circle to bisect a chord is perpendicular to the chord.</li>
                    <li>(Motivate) Equal chords of a circle (or of congruent circles) are equidistant from the center (or their
                        respective centers) and conversely.</li>
                    <li>(Prove) The angle subtended by an arc at the center is double the angle subtended by it at any point on
                        the remaining part of the circle.</li>
                    <li>(Motivate) Angles in the same segment of a circle are equal.</li>
                    <li>(Motivate) The sum of either of the pair of the opposite angles of a cyclic quadrilateral is
                        180<sup>o</sup>&nbsp;and its converse.</li>
                </ol>
        </li>
    </ol>

</section>