section {
    background: #f7f7f7;
    box-shadow: 0rem 0.25rem 0.5rem /* 0px 4px 8px */ rgba(58, 58, 58, 0.16);
    border-radius: 0.625rem; /* 10px */
    padding: 1.875rem; /* 30px */
}

h1{
    font-size: 2rem;
    margin:20px 0 10px 0;
}

h2{
    margin:20px 0 10px 0;
}

ul.sub,
ol.sub{
    margin-left: 2rem;
    margin-top: 15px;
}

ol.main,ul.main{
    margin-left: 20px;
}

ul.sub>li,ol.sub>li{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

ul.main>li,ol.main>li{
    font-size: 1.5rem;
    font-weight: bold;
}


p{
    font-size: 16px;
    margin-bottom: 20px;
}

p.inner-para{
    font-weight: normal;
}