<div id="parent">
    <header>
        <div id="left-part">
            <div id="hamburger" (click)="showMenu=!showMenu"><i class="fa fa-bars"></i></div>
            <div id="logo-wrapper">
                <img id="logo-image" src="assets/images/eduotics-logo.png">
            </div>
            <div class="line"></div>
            <ul [ngClass]="{show_menu:showMenu}" (click)="showMenu=false">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/courses">Edu Store</a></li>
                <li><a routerLink="/contact-us">Contact</a></li>
            </ul>
        </div>
        <div id="right-part">
            <i class="fa fa-search"></i>
            <div class="line"></div>
            <a class="login-a" href="https://www.eduotics.com/eduotics-users">Login</a>
            <a class="login-a" href="https://www.eduotics.com/eduotics-users/sign-up">Register</a>
        </div>
    </header>
</div>