<div id="panel">
    <div id="box-wrapper">
        <div class="box">
            <img src="assets/images/icon-boxes/learn-from-experts.svg">
            <p>Learn from the experts</p>
        </div>
        <div class="box">
            <img src="assets/images/icon-boxes/online-live-classes.svg">
            <p>Online live Classes</p>
        </div>
        <div class="box">
            <img src="assets/images/icon-boxes/performance-analyser.svg">
            <p>Performance Analyser</p>
        </div>
        <div class="box">
            <img src="assets/images/icon-boxes/top-rated-courses.svg">
            <p>Top Rated Courses</p>
        </div>
    </div>
    <img src="assets/images/icon-boxes/arrow-down.svg" id="arrow-down-img">
</div>